body {
    font-family: 'Poppins', sans-serif;
}

* {
    --main-color: #2980b9;
}

/*
START NAVBAR
*/

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff !important;
    z-index: 99999;
    padding: 10px;

}

.navbar-collapse {
    flex-grow: 0;
}
.navbar li:hover a{
    color: var(--main-color);
}
.navbar li .active {
    color: var(--main-color) !important;
}
.navbar .social_icon{
    padding-right: 20px;
    padding-left: 20px;
}
.navbar .social_icon li{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--main-color);
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
.navbar .social_icon li a{
    color: #fff;
}
/* END NAVBAR */

/* START SLIDER  */
.carousel {}

.carousel .carousel-item {
    max-height: 100vh;
    position: relative;
}
.carousel .carousel-item .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
    top: 40%;
}

.carousel-caption h5 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}

.carousel-caption p {
    font-size: 24px;
    text-transform: capitalize;

}

/* END SLIDER  */

/* START ABOUT US SECTION */
.about_us {
    padding: 20px;
    background-color: #f1f1f1;
}

.about_us .data {
    background-color: #fff;
    padding: 20px;
}

.about_us .data .images {}

.about_us .data .images img {
    max-width: 100%;
}

.about_us .data .images .info {}

.about_us .data .info h4 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 30px;
    padding-top: 20px;
}

.about_us .data .info p {
    color: #625e5e;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about_us .data .info ul {}

.about_us .data .info ul li {
    padding-bottom: 10px;
    color: #3e3d3d;
}

.about_us .data .info ul li span {
    color: var(--main-color);
    margin-right: 5px;
}

/* END ABOUT US SECTION */

/* START COUNTER */
.counter {
    padding: 20px;
    background-color: #f1f1f1;
}

.counter .data {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.counter .data .info {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.counter .data .info i {
    color: var(--main-color);
    font-size: 35px;
    margin-bottom: 20px;
}

.counter .data .info h3 {
    font-weight: bold;
    font-size: 30px;
}

.counter .data .info p {
    font-size: 22px;
    color: #444444;
}

/* END COUNTER */

/* START OUR SERVICES */
.services {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.services .data {
    padding: 10px;
    background-color: #fff;

}

.services .data h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 30px;
    padding-top: 20px;
}

.services .data .info {
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px #d9d9d9;
}

.services .data .info .images {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.services .data .info .images:hover img {
    transform: scale(1.1);
}

.services .data .info img {
    width: 100%;
    padding: 2px;
    transition: all 0.5s ease-in-out;
    border-radius: 8px 8px 0px 0px;

}

.services .data .info h4 {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 15px;
    color: #4e4c4c;
    padding-bottom: 20px;
    min-height: 85px;
}

.services .data .btn {
    width: 200px;
    margin-top: 30px;
    padding: 12px;
}

/* END OUR SERVICES */

/* START HELP SECTION */
.help {
    background-image: url("../../uploads/contact.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 400px;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 40px;
}

.help .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.help .data {
    padding: 40px;
}

.help .data h2 {
    padding: 30px;
    text-transform: capitalize;
}

.help .data p {
    font-size: 19px;
    margin-bottom: 30px;
}

.help .data .btn {
    width: 200px;
    padding: 10px;
    margin-bottom: 30px;
}

/* END HELP SECTION */

/* START FOOTER */
.footer {
    padding: 40px;
    background-color: #fff;
    color: #111;
    border-top: 3px solid var(--main-color);
}

.footer .data {}

.footer .data .info {}

.footer .data .info h4 {
    color: var(--main-color);
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer .data .info p {
    line-height: 1.8;
    color: #111;
}

.footer .data .info ul {}

.footer .data .info ul li {
    margin-bottom: 10px;
}

.footer .data .info .social_links li {
    display: inline-block;
    margin-right: 10px;
}

.footer .data .info .social_links li {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--main-color);
    line-height: 40px;
    border-radius: 50%;
}

.footer .data .info .social_links li i {
    color: #fff;
}

/* END FOOTER */

/* START ABOUT US PAGE */
.about_page {
    background-image: url(../../uploads/header3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    background-attachment: fixed;
    position: relative;
    color: #fff;
    text-align: center;
}

.about_page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.about_page .data {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about_page .data h2 {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 50px;
    word-spacing: 6px;
}

.about_page .data p {
    line-height: 2;
    text-transform: capitalize;
    font-size: 35px;
    word-spacing: 2px;
}
.about_page .data .about_head p{
    font-size: 19px;
}

/* END ABOUT US PAGE */

/* START CONTACT US PAGE */

.contact_us {
    background-color: #f1f1f1;
    padding: 10px;
}

.contact_us .data {
    background-color: #fff;
    padding: 25px;
}

.contact_us .info {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.contact_us .info h2 {
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 26px;
}

.contact_us .info p {
    line-height: 2;
    color: #4a4949;
}

.contact_us form {}

.contact_us form .box {
    margin-top: 12px;
}

.contact_us form .box label {
    margin-bottom: 10px;
}

.contact_us form .box input {}


/* END CONTACT US PAGE  */
/* START MEDIA QUERY  */
@media(max-width:991px) {
    .navbar-brand img {
        width: 200px;
    }
    .carousel-caption{
        top: 30%;
    }
    .carousel-caption h5{
        font-size: 35px;

    }
    .carousel-caption p{
        font-size: 18px;
    }
    .navbar .social_icon{
        margin-top: 30px;
    }
}


.whatsapp_bottom {
    position: fixed;
    bottom: 20px;
    right: 15px;
    background-color: #25D366;
    padding: 10px;
    border-radius: 28px;
    width: 150px;
    text-align: center;
    z-index: 9999999;
}

.whatsapp_bottom a {
    text-decoration: none;
    color: #fff
}